// .list-image{
//     width: 50px;
//     height: 50px;
//     float: right;
// }
// .info{
//     width: 50%;
//     float: left;
// }
// .info h1{
//     text-overflow: clip;
// }
ion-list{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33, 128, 218);
}

.image-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-image{
    padding: 20px 20px;
    height: 360px;
    width: 360px;
    // align-self: center;
    // justify-self: center;
}
.info-header{
    margin-left: 50px;
    margin-right: auto;
}
.info-desc{
    margin-left: 10px;
    margin-right: auto;
}
.info-desc p{
    font-weight: 100;
}